<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
Good evening all,
</p>
<p>
Attached please find the A1s and B1s filed between yesterday at 5:00pm and today at 5:00pm.
</p>
<p>
Best Regards,
</p>
<p>
Mary J. Mayor<br>
Project Manager<br>
Law Office of John Fogarty, Jr.<br>
4043 N. Ravenswood<br>
Suite 226<br>
Chicago, Illinois 60613<br>
(773) 549-2647<br>
(773) 681-7147 (fax)<br>
<a href="http://www.fogartylawoffice.com">fogartylawoffice.com</a>
</p>
</body>
</html>